name: ci

on:
  pull_request:
    branches: 
      - "main"

jobs:
  lint:
    name: Lint Codebase
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Install mockgen
        run: go install github.com/golang/mock/mockgen@latest

      - name: Generate mocks
        run: make gen-mocks

      - uses: golangci/golangci-lint-action@v6.0.0
        with:
          version: latest
      
  unit-test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          
      - name: Install mockgen
        run: go install github.com/golang/mock/mockgen@latest

      - name: Generate mocks
        run: make gen-mocks
      
      - name: Test with coverage
        run: make unit-test-cov COVER_OUT=unit.out

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: unit.out

